
spring-social-alfresco/.classpath

*.class

spring-social-alfresco/target/classes/META-INF/MANIFEST.MF

spring-social-alfresco/target/classes/META-INF/maven/org.springframework.social/spring-social-alfresco/pom.properties

spring-social-alfresco/target/classes/META-INF/maven/org.springframework.social/spring-social-alfresco/pom.xml

spring-social-alfresco/.springBeans

spring-social-alfresco/.settings/org.springframework.ide.eclipse.beans.core.prefs

spring-social-alfresco/.settings/org.eclipse.m2e.core.prefs

spring-social-alfresco/.settings/org.eclipse.jdt.core.prefs

spring-social-alfresco/.project
